.page-wrap {
  min-width: 420px;
}

td {
  width: 35px;
  height: 35px;
}
td.black {
  background: #000000;
}
td.red {
  background: #dd4b39;
}
table {
  width: auto;
  margin: auto;
}
h1 {
  margin: 10px;
  text-align: center;
}
